.color1 {color: #ff2855;}
.color2 {color: #ff8439;}
.color3 {color: #ffd35d;}
.color4 {color: #ffffae;}
.color5 {color: #fffffd;}
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(45deg, #493843, #CBBFBB );
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    top: 0;
    padding-bottom: 0px;
    column-gap: 5px;
    background-color: #ff8439;
}
#name{

    /*background-color: #ff8439;*/
    text-align: center;
  
    
  
}
#valiant{
    text-decoration: none;
    color: red;
    
}
#header-nav{
    display: flex;
    justify-content: center;
    width: auto;

}
#header-nav ul{
    list-style: none;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    row-gap: 0;
    
}
.menu-item{
    display: flex;
    margin: 0;
    justify-content: center;
    width: 80px; 
   
    background-color: #ff2855;
}

.menu-item a{
    text-decoration: none;
    color: #e6e1f3;
    background-color: red;
    width: auto; 
    text-align: center; 
    font-size: 25px;
    
    /* display: block; */
    
    display: inline;
}
.menu-link:hover,.active-page{
    color: blueviolet;
    background-color: #ff2855;
}
main{
    background-color: transparent;
    margin: 0;
    padding: 0;
}
#glance{
    margin: 0;
    padding: 0;
}
footer{
    margin: 0;
    text-align: center;
    width: 100%;
    height: 20px auto;
}